*,*::after,*::before{
    box-sizing:border-box;
}
body{
    width:100vw;
    min-height:100vh;
}
.mainContainer{
    width:100%;
    height:100%;
}
.honeyComb{
    width:90%;
    display:flex;
    justify-content:center;
    flex-flow:row wrap;
    gap:1rem;
    margin:10rem auto;
}
.hexagonArea{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:row wrap;
    gap:1rem;
}

.honeyComb__item{
    width:max(20vw,10rem);
    height:max(22vw,12rem);
    background-color:lightcoral;
    clip-path:polygon(50% 0,0 20%,0 80%,50% 100%,100% 80%,100% 20%);
}

@media screen and (min-width:765px){
    .honeyComb__item{
        margin-top:-3rem;
    
    }
    
}